:root{
    --orange: #fc7d7b;
    --purple: #8e77fe;
    --link-color: #8300ff;
    --grey: #222222;
    --light-grey: #c6c6c6;
}

.login-wrapper{
    background-color: var(--grey);
}
.form-login{
    width: 300px;
    height: 700px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
}