:root{
    --orange: #fc7d7b;
    --purple: #8e77fe;
    --link-color: #8300ff;
    --grey: #222222;
    --light-grey: #c6c6c6;
}

.login-wrapper{
    background-color: var(--grey);
    height: 100vh;
}
.login-wrapper .container{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    height: 100%;
}
.form-login{
    width: 320px;
    height: 400px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
}
.form-head{
    color: var(--purple);
    margin-top: 20px;
    margin-bottom: 30px;
}
.input-icon{
    display: inline-block;
    position: relative;
    top: 27px;
    left: 7px;
}
.field-auth{
    border-radius: 8px;
    padding-left: 30px;
}
.field-auth:active{
    outline: 2px solid var(--grey);
}
.fa{
    margin-top: 15px;
}
.button-block{
    text-align: center;
    margin-top: 50px;
}
