:root{
    --orange: #fc7d7b;
    --purple: #8e77fe;
    --link-color: #8300ff;
    --grey: #222222;
    --light-grey: #c6c6c6;
}

.auth-container{
    height: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.login-wrapper{
    background-color: var(--grey);
    height: 100vh;
}
.form-block{
    width: 350px;
    height: 495px;
    background-color: white;
    outline: 5px solid black;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.field-auth{
    padding-left: 40px;
}
.input-icon{
    position: relative;
    top: 30px;
    left: 5px;
}
.form-login{
    display: block;
    padding: 5px;
}
.button-block{
    
    text-align: center;
}
.button-auth{
    width: 100%;
}
.reg-btn{
    margin-top: 20px;
}
.reg-block{
    width: 650px;
    height: 730px;
    background-color: white;
    outline: 5px solid black;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.avatar-name-b{
    display: flex;
    justify-content: space-between;
}
.input-file{
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    overflow: hidden;
    opacity: 0;
    z-index: -1;
}
.select-avatar{
    color: white;
    font-size: 12px;
    opacity: 0;
    position: absolute;
    display: block;
    width: 150px;
    height: 150px;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    line-height: 150px;
    z-index: 2;
    cursor: pointer;
}
.select-avatar:hover{
    opacity: 1;
}
.selected-avatar{
    position: absolute;
    z-index: 1;
}
.user-info-page{
    height: 100%;
    padding: 20px;
}
.name-field{
    width: 60%;
    max-width: 366px;
}
.field{
    height: 50px;
}
.user-data{
    margin-top: 130px;
}
.reg-btns button{
    width: 80%;
    margin-bottom: 20px;
}
.input-group-text{
    width: 65px;
    text-align: center;
}
.error-block{
    height: 24px;
    margin-top: 5px;
}
.message{
    height: 345px;
    text-align: center;
}
.mail-message{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: var(--grey);
    font-weight: 700;
}
.save-session-block{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--grey);
    text-align: center;
}