:root{
    --orange: #fc7d7b;
    --purple: #8e77fe;
    --link-color: #8300ff;
    --grey: #222222;
    --light-grey: #c6c6c6;
}

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #f7f7f8;
}
header{
    background-color: var(--grey);
    color: #fff;
    padding-top: 20px;
}
.row{
    cursor: default;
}
.reviews{
    text-decoration: none;
    color: #fff;
    width: fit-content;
    cursor: pointer;
}
.sign-in{
    width: 80px;
    height: 40px;
    border: none;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
    border-radius: 8px;
}
.sign-in:hover{
    background-color: var(--orange);
    color: var(--grey);
}
nav div{
    cursor: pointer;
}
.nav-link{
    color: #fff;
}
aside{
    padding-top: 20px;
}
.pages{
    margin-bottom: 20px;
}
.page{
    border-radius: 10px;
    height: 340px;
    box-shadow: 0px 0px 5px 2px #919191;
    font-family: Arial, Helvetica, sans-serif;
}
.img{
    width: 260px;
    height: 340px;
    object-fit: cover;
}
.info-block{
    padding-top: 15px;
}
.rating{
    width: 50px;
    height: 50px;
    background-color: #222222;
    padding-top: 13px;
    margin-bottom: 30px;
    color: #fff;
    font-weight: 700;
}
.name{
    font-size: 26px;
    font-weight: 600;
    color: var(--grey);
    margin-bottom: 30px;
}
.author{
    font-size: 14px;
    color: var(--light-grey);
}
.page:hover .name{
    color: var(--link-color);
    cursor: pointer;
}
.grid-block{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}
.item{
    border-radius: 10px;
    height: 340px;
    box-shadow: 0px 0px 5px 2px #919191;
    cursor: pointer;
}
.item:hover .name{
    color: var(--link-color);
}
.item-big{
    grid-column: 1/5;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.item-big .info-block{
    padding-left: 25px;
}
.item-big .name{
    margin-top: 45px;
    margin-bottom: 0px;
}
.item-big .author{
    margin: 0;
}
.upper-item{
    height: 300px;
}
.min-item img{
    width: 100%;
    object-fit: cover;
}
.right-item img{
    height: 280px;
}
.upper-item img{
    height: 230px;
}
.min-item .name{
    margin: 0;
    font-size: 14px;
}
.min-item .author{
    margin: 0;
}
.info-item{
    padding-top: 10px;
    padding-left: 15px;
}
.test{
    background-color: #222222;
    position: relative;
    bottom: 270px;
    right: 10px;
}
.right-item .test{
    bottom: 320px;
}
.line{
    height: 6px;
    margin-top: 20px;
    margin-bottom: 10px;
    background: linear-gradient(90deg, var(--purple), var(--orange));
}
.search-field{
    position: relative;
    top: 3px;
    border-radius: 4px;
    height: 38px;
    width: 340px;
}
.search-field::placeholder{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: var(--light-grey);
    margin-left: 20px;
}
footer{
    background-color: #222222;
    font-family: Arial, Helvetica, sans-serif;
}
.github{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}
.github a{
    color: #fff;
    text-decoration: none;
    font-size: 32px;
}
.copyright{
    text-align: center;
    color: #D5D5D5;
    font-size: 25px;
}
.bold-text{
    color: #fff;
    font-weight: 700;
}