*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
header{
    background-color: #222222;
    color: #fff;
    padding-top: 20px;
}
.row{
    cursor: default;
}
.reviews{
    text-decoration: none;
    color: #fff;
    width: fit-content;
    cursor: pointer;
}