:root{
    --orange: #fc7d7b;
    --purple: #8e77fe;
    --link-color: #8300ff;
    --grey: #222222;
    --light-grey: #c6c6c6;
}


.movie-info{
    position: relative;
    top: -8px;
    background-color: var(--grey);
    padding: 20px 10px;
}
.rating-section{
    padding-top: 35px;
}
.rating-block{
    display: flex;
    align-items: flex-end;
    font-size: 22px;
    line-height: 0.75;
}
.rating-value{
    font-size: 17px;
    line-height: 1;
    padding: 0 0 0 40px;
    color: #fff;
}
.rating-body{
    position: relative;
}
.rating-body::before{
    content: "★★★★★★★★★★";
    display: block;
    color: #fff;
}
.rating-items{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.rating-item{
    flex: 0 0 10%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.rating-active{
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.rating-active::before{
    content: "★★★★★★★★★★";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #F4CA16;
}
.film-name{
    margin-bottom: 70px;
    color: #fff;
}
.info-col{
    margin-bottom: 30px;
    color: #878787;
}
.info-col span{
    color: #fff;
}
.review{
    padding-bottom: 60px;
    border-bottom: #222222 solid 4px;
}
.review-head{
    text-align: center;
    padding: 50px;
}
.text{
    font: 18px/1.5 georgia,serif;
}
.mini-line{
    height: 3px;
    width: 400px;
    background-color: #222222;
    margin-bottom: 40px;
}
.comments-head{
    margin-top: 20px;
    margin-bottom: 10px;
}
.comment-item{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
.comment-block{
    background-color: #96A2FF;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}
.icon{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-right: 40px;
    background-color: red;
    overflow: hidden;
    cursor: pointer;
}
.author-date{
    display: flex;
    justify-content: space-between;
}
.com-user a{
    color: var(--grey);
    font-size: 19px;
    text-decoration: none;
}
.com-user{
    cursor: pointer;
}
.date{
    color: #444444;
}
.answer-block{
    margin-top: 10px;
    text-align: right;
}
.answer-txt{
    color: #444444;
    text-decoration: solid;
    cursor: pointer;
}
.input-group{
    height: 70px;
}
.no-comments{
    background-color: var(--light-grey);
}
.add-poster{
    width: 260px;
    height: 340px;
}
.no-comment-text{
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 26px;
    color: var(--grey);
}
.select-poster{
    color: white;
    font-size: 16px;
    opacity: 0;
    position: absolute;
    display: block;
    width: 260px;
    height: 340px;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    line-height: 340px;
    z-index: 2;
    cursor: pointer;
}
.select-poster:hover{
    opacity: 1;
}
.set-trailer-url{
    padding: 20px 20px 30px 50px;
}
.set-trailer-label{
    font-size: 22px;
    color: #878787;
    margin-right: 20px;
    font-weight: 700;
}
.crud-reviews input{
    border-radius: 10px;
    border-color: #878787;
    font-family: 'Arial', sans-serif;
    color: black;
}
.crud-reviews input::placeholder{
    color: #9a9a9a;
}
.set-trailer-url input{
    width: 50%;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.film-name label{
    margin-right: 10px;
}
.crud-reviews .info label{
    display: inline-block;
    width: 70px;
}
.movie-info input{
    width: 30%;
    padding-left: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
}
#country{
    width: 30%;
    padding-left: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
    border-color: #878787;
    font-family: 'Arial', sans-serif;
    color: black;
}
#filmName{
    position: relative;
    bottom: 7px;
}
#name{
    width: 40%;
    height: 100px;
    text-align: center;
    font-size: 30px;
    color: #212529;
    font-weight: 500;
}
#text{
    width: 100%;
    height: 600px;
    margin-bottom: 40px;
    padding: 20px;
    font-family: 'Georgia', sans-serif;
    font-size: 18px;
    color: #212529;
}
.set-poster-url{
    margin-top: 30px;
}
.set-poster-url label{
    color: #878787;
}
.set-poster-url input{
    width: 47%;
}
.search-poster-btn{
    font-size: 13px;
    border: none;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 10px;
    color: white;
    background-color: var(--purple);
}
.rating-sending{
    opacity: 0.3;
}