:root{
    --orange: #fc7d7b;
    --purple: #8e77fe;
    --link-color: #8300ff;
    --grey: #222222;
    --light-grey: #c6c6c6;
}

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: white;
    padding-top: 1px;
    height: 100%;
}
.wrapper{
    display: flex;
    flex-direction: column;
}
header{
    background-color: var(--grey);
    color: #fff;
    padding-top: 20px;
}
.row{
    cursor: default;
}
.reviews{
    text-decoration: none;
    color: #fff;
    width: fit-content;
    cursor: pointer;
}
.sign-in{
    width: 80px;
    height: 40px;
    border: none;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
    border-radius: 8px;
}
.sign-in:hover{
    background-color: var(--orange);
    color: var(--grey);
}
nav div{
    cursor: pointer;
}
.nav-link{
    color: #fff;
}
aside{
    padding-top: 20px;
}
.pages{
    margin-bottom: 20px;
}
.pages a{
    text-decoration: none;
}
.page{
    border-radius: 10px;
    height: 340px;
    box-shadow: 0px 0px 5px 2px #919191;
    font-family: Arial, Helvetica, sans-serif;
}
.poster{
    width: 260px;
    height: 340px;
    object-fit: cover;
}
.info-block{
    padding-top: 15px;
}
.rating{
    width: 50px;
    height: 50px;
    background-color: #222222;
    padding-top: 13px;
    margin-bottom: 30px;
    color: #fff;
    font-weight: 700;
}
.name{
    font-size: 26px;
    font-weight: 600;
    color: var(--grey);
    margin-bottom: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.author{
    font-size: 14px;
    color: var(--light-grey);
}
.page:hover .name{
    color: var(--link-color);
    cursor: pointer;
}
.grid-block{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}
.grid-block a{
    text-decoration: none;
}
.item{
    border-radius: 10px;
    height: 340px;
    box-shadow: 0px 0px 5px 2px #919191;
    cursor: pointer;
}
.item:hover .name{
    color: var(--link-color);
}
.link-item-big{
    grid-column: 1/5;
}
.item-big{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.item-big .info-block{
    padding-left: 25px;
}
.item-big .name{
    margin-top: 45px;
    margin-bottom: 0px;
}
.item-big .author{
    margin: 0;
}
.upper-item{
    height: 300px;
}
.min-item img{
    width: 100%;
    object-fit: cover;
}
.right-item img{
    height: 280px;
}
.upper-item img{
    height: 230px;
}
.min-item .name{
    margin: 0;
    font-size: 14px;
    height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.min-item .author{
    margin: 0;
}
.info-item{
    padding-top: 10px;
    padding-left: 15px;
}
.test{
    background-color: #222222;
    position: relative;
    bottom: 270px;
    right: 10px;
    z-index: 0;
}
.right-item .test{
    bottom: 320px;
}
.line{
    height: 6px;
    margin-top: 20px;
    margin-bottom: 10px;
    background: linear-gradient(90deg, var(--purple), var(--orange));
}
.search-field{
    position: relative;
    top: 3px;
    border-radius: 4px;
    height: 38px;
    width: 340px;
    z-index: 0;
}
.search-field::placeholder{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: var(--light-grey);
    margin-left: 20px;
}
footer{
    flex: 1 1 auto;
    background-color: #222222;
    font-family: Arial, Helvetica, sans-serif;
}
.github{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}
.github a{
    color: #fff;
    text-decoration: none;
    font-size: 32px;
}
.copyright{
    text-align: center;
    color: #D5D5D5;
    font-size: 25px;
}
.bold-text{
    color: #fff;
    font-weight: 700;
}
.search-head{
    display: block;
    color: var(--grey);
    margin-top: 40px;
    margin-bottom: 100px;
}
.search-value{
    font-size: 80%;
    color: #9A9A9A;
}

.user-panel{
    width: 200px;
    height: 60px;
    border-radius: 15px;
    outline: 8px solid var(--orange);
    cursor: pointer;
    z-index: 1;
}
.grid-user{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.avatar-border{
    width: 55px;
    height: 55px;
    background-color: var(--purple);
    border-radius: 55px;
}
.avatar-icon{
    display: block;
    border-radius: 50px;
    position: relative;
    top: 3px;
    left: 2.5px;
}
.username-on-panel{
    width: 100%;
    height: 100%;
    line-height: 40px;
    padding-left: 20px;

}
.hover-panel{
    display: none;
    width: 200px;
    height: 125px;
    position: relative;
    background-color: var(--grey);
    border: 5px solid var(--orange);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    z-index: 2;
    text-align: center;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.user-panel:hover .hover-panel{
    display: block;
}
.account-block{
    margin-bottom: 20px;
}
.hover-panel a{
    text-decoration: none;
    color: white;
}
.hover-panel a:hover{
    color: var(--link-color);
}
.logout-btn{
    background-color: var(--orange);
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 9px;
    padding-bottom: 9px;
    color: var(--grey);
    border-radius: 8px;
    border: none;
}
.logout-btn:hover{
    background-color: var(--purple);
    color: white;
}
.review-btns {
    text-align: right;
    color: red;
}
.item-big .review-btn{
    right: 50px;
}
.item-big .fa-pen{
    margin-right: 30px;
}
.name-rev-block{
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
}
.review-btn{
    display: inline-block;
    width: fit-content;
    cursor: pointer;
    position: relative;
    bottom: 165px;
}
.review-btn-on-small-b{
    display: inline-block;
    width: fit-content;
    cursor: pointer;
    position: relative;
    font-size: 14px;
}
.admin-delete{
    top: 25px;
}
.review-btns .fa-pen{
    color: #3D76AC;
    margin-right: 30px;
}
.fa-pen:hover{
    color: #284f74;
}
.fa-trash{
    color: #FF2C2C;
}
.fa-trash:hover{
    color: #b12f2f;
}
.delete-popup{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    z-index: 1;
}
.delete-popup-content{
    width: 400px;
    height: 160px;
    background-color: white;
    border-radius: 15px;
    border: 5px var(--grey) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 10px;
}
.question{
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: var(--grey);
    margin-bottom: 25px;
}
.answer-options{
    display: flex;
    justify-content: center;
}
.popup-btn{
    width: 45px;
    height: 30px;
    border-radius: 10px;
    background-color: var(--purple);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#yes{
    margin-right: 15px;
}
.film-name-head{
    font-size: 32px;
}
.review-btn-span{
    margin-left: 80px;
}
.review-btn-span .fa-pen{
    text-decoration: none;
}