:root{
    --orange: #fc7d7b;
    --purple: #8e77fe;
    --link-color: #8300ff;
    --grey: #222222;
    --light-grey: #c6c6c6;
}


.header-page{
    display: flex;
}
.photo{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background-color: red;
}
.select-photo{
    display: none;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding-top: 150px;
    color: var(--light-grey);
    font-family: Arial, Helvetica, sans-serif;
}
.user-page{
    margin-top: 100px;
}
.photo:hover .select-photo{
    display: block;
}
.name-section{
    color: var(--grey);
}
.name-section{
    font-size: 38px;
}
.username{
    font-weight: 700;
}
.id-user{
    color: #7D7D7D;
}
.admin-section{
    color: red;
}