<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:insert="parts/layouts :: head">
    </head>
    <body>
        <div class="wrapper" style="background-color: #c6c6c6;">
            <header th:insert="parts/layouts :: header"></header>
            <div class="container">
                <div id="player">
                    <span>Нажмите сюда, чтобы добавить трейлер или перетащите сюда файл</span>
                    <video class="add-trailer" width="100%" height="440px" controls="controls" autoplay>
                        <source>
                    </video>
                </div>
                <div class="movie-info row">
                    <div class="movie-left col-3">
                        <div class="select-image-block">
                            <input id="file" class="input-file" name="file" type="file" accept="image/*" onchange="load(this)">
                            <label for="file" class="select-poster">Выбрать постер</label>
                            <img src="/image/no-photo.jpg" width="260px" height="340px" class="selected-avatar poster">
                        </div>
                    </div>
    
                    <div class="movie-right col-8">
                        <div class="film-name"><h1>Test</h1></div>
                        <div class="info">
                            <div class="info-col">Автор рецензии: <a th:href="@{/user(id=${authorityUser.getId()})}" th:text="${authorityUser.getNick()}"></a></div>
                            <div class="info-col">Год: <span ></span></div>
                            <div class="info-col">Режисер: <span ></span></div>
                            <div class="info-col">Страна: <span></span></div>
                            <div class="info-col">В ролях: <span></span></div>
                        </div>
                    </div>
            </div>
            <footer th:insert="parts/layouts :: footer"></footer>
        </div>
        <div th:insert="parts/layouts :: scripts"></div>
    </body>
</html>