<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:insert="parts/layouts :: head">
</head>
<body>
<div class="login-wrapper">
    <div class="container auth-container">
        <div class="form-block center-block edit-password">
            <div class="h1 text-center form-head">Восстановление доступа</div>
            <div class="line"></div>
            <p class="mail-message">Введите новый пароль</p>
            <form class="form-login" method="post" action="/" th:object="${password}">
                <input class="field-auth" type="password" name="password" id="password" placeholder="Пароль" onkeyup="passwordValidator()">
                <input class="field-auth" type="password" id="password-repeat" placeholder="Повторите пароль" onkeyup="passwordValidator()">
                <div class="error-block hidden">Пароли не совпадают</div>
                <input class="btn btn-primary button-auth block-btn" disabled type="submit" value="Подтвердить">
                <a href="/login">Назад</a>
            </form>
        </div>
    </div>
</div>
<div th:insert="parts/layouts :: scripts"></div>
<script type="text/javascript" src="/script/passwordValidator.js"></script>
</body>
</html>
