<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:insert="parts/layouts :: head">
</head>
<body>
<div class="login-wrapper">
    <div class="container auth-container">
        <div class="reg-block" style="width: 500px; height: 500px">
            <div class="h1 text-center form-head">Регистрация</div>
            <div class="line"></div>
            <div class="user-info-page">
                <form method="post" enctype="multipart/form-data" action="/edit-user" th:object="${userEditor}">
                    <input type="hidden" th:field="*{user}">
                    <div class="avatar-name-b">
                        <div class="select-image-block">
                            <input id="file" class="input-file" name="file" type="file" accept="image/*" onchange="load(this)">
                            <label for="file" class="select-avatar">Выбрать фото</label>
                            <img th:if="${userEditor.getPhoto() == null}" src="/image/avatar2.jpg" width="150px" height="150px" class="selected-avatar">
                            <img th:unless="${userEditor.getPhoto() == null}" th:src="@{/image/users/} + ${userEditor.getPhoto()}" width="150px" height="150px" class="selected-avatar">
                        </div>
                        <div class="name-field">
                            <div class="input-group input-group-sm mb-3 field">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Имя</span>
                                <input type="text" th:field="*{nick}" id="nick" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" onkeyup="profileValidator()">
                            </div>
                            <div class="error-block hidden">*Пустое поле</div>
                        </div>
                    </div>
                    <div class="user-data">
                    <div class="button-block reg-btns">
                        <button type="submit" id="edit-btn" class="btn btn-danger" style="width: 100%">Изменить</button>
                        <button type="button" class="btn btn-secondary" style="width: 100%" onclick="document.location='/'">Выход</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<div th:insert="parts/layouts :: scripts"></div>
</body>
</html>