<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:insert="parts/layouts :: head">

    </head>
    <body>
        <div th:insert="parts/layouts :: scripts"></div>
        <header th:insert="parts/layouts :: header"></header>
        <aside>
            <div class="container">
                <div th:insert="parts/layouts :: page-block"></div>
                <div class="line"></div>
                <div th:insert="parts/layouts :: m-page"></div>
            </div>
        </aside>
        <footer th:insert="parts/layouts :: footer"></footer>
    </body>
</html>