<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:insert="parts/layouts :: head">
    </head>
    <body>
        <div class="login-wrapper">
            <div class="container auth-container">
                <div class="form-block center-block">
                  <div class="h1 text-center form-head">Вход</div>
                  <div class="line"></div>
                  <form class="form-login" method="POST" action="/login">
                     <i class="input-icon fa fa-user fa-lg"></i>
                    <input class="field-auth form-control" id="username" name="username" type="text" placeholder="Логин" required> <br/>
                    <i class="input-icon fa fa-lock fa-lg"></i>
                    <input class="field-auth form-control" id="password" name="password" type="password" placeholder="Пароль" required>
                    <div class="button-block">
                        <input class="btn btn-primary button-auth" type="submit" value="Вход">
                    </div>
                  </form>
                    <div class="form-login">
                        <button class="btn btn-danger button-auth reg-btn" onclick="document.location='/registration'">Регистрация</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
