<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:insert="parts/layouts :: head">
    </head>
    <body>
        <div class="login-wrapper">
            <div class="container">
                <div class="form-login center-block">
                  <div class="h1 text-center form-head">Вход</div>
                  <div class="line"></div>
                  <form>
                     <i class="input-icon fa fa-user fa-lg"></i>
                    <input class="field-auth" type="text" placeholder="Логин"> <br/>
                    <i class="input-icon fa fa-lock fa-lg"></i>
                    <input class="field-auth" type="password" placeholder="Пароль">
                    <div class="button-block">
                        <input class="btn btn-primary" type="submit" value="Вход">
                    </div>

rrr
eeeee
                  </form>
                </div>
            </div>
        </div>
    </body>
</html>