<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:insert="parts/layouts :: head">      
    </head>
    <body>
        <div class="login-wrapper">
            <div class="container auth-container">
                <div class="reg-block">
                    <div class="h1 text-center form-head">Регистрация</div>
                    <div class="line"></div>
                    <form>
                        <div class="user-info-page">
                            <div class="select-image-wrapper">
                                <form method="post" enctype="multipart/form-data" action="/signup">
                                    <input type="file" accept="image/*">
                                    <input type="submit" value="Ok">
                                </form>
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>