<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:insert="parts/layouts :: head">      
    </head>
    <body>
        <div class="login-wrapper">
            <div class="container auth-container">
                <div class="reg-block">
                    <div class="h1 text-center form-head">Регистрация</div>
                    <div class="line"></div>
                        <div class="user-info-page">
                            <form method="post" enctype="multipart/form-data" action="/signup" th:object="${user}">
                                <div class="avatar-name-b">
                                    <div class="select-image-block">
                                        <input id="file" class="input-file" name="file" type="file" accept="image/*" onchange="load(this)">
                                        <label for="file" class="select-avatar">Выбрать фото</label>
                                        <img src="/image/avatar2.jpg" width="150px" height="150px" class="selected-avatar">
                                    </div>
                                    <div class="name-field">
                                        <div class="input-group input-group-sm mb-3 field">
                                            <span class="input-group-text" id="inputGroup-sizing-sm">Имя</span>
                                            <input type="text" th:field="*{nick}" id="nick" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                        </div>
                                        <div class="error-message" th:if="${#fields.hasErrors('nick')}" th:errors="*{nick}" style="color: #FF514B">Name</div>
                                        <div class="input-group input-group-sm mb-3 field">
                                            <span class="input-group-text" id="inputGroup-sizing-sm">Email</span>
                                            <input type="email" th:field="*{email}" id="email" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                        </div>
                                        <div class="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: #FF514B">Email</div>
                                    </div>
                                </div>
                                <div class="user-data">
                                    <div class="input-group input-group-sm field">
                                        <span class="input-group-text" id="inputGroup-sizing-sm">Логин</span>
                                        <input type="text" th:field="*{login}" id="login" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                    </div>
                                    <div class="error-block">
                                        <div class="error-message" th:if="${#fields.hasErrors('login')}" th:errors="*{login}" style="color: #FF514B">Login</div>
                                    </div>
                                    <div class="input-group input-group-sm field">
                                        <span class="input-group-text" id="inputGroup-sizing-sm">Пароль</span>
                                        <input type="password" th:field="*{password}" id="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                    </div>
                                    <div class="error-block">
                                        <div class="error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: #FF514B">Password</div>
                                    </div>
                                    
                                </div>
                                <div class="error-block">
                                    <div th:if="${loginExist}" class="error-message" style="color: #FF514B">*Пользователь с данным логином уже существует</div>
                                </div>
                                <div class="error-block">
                                    <div th:if="${emailExist}" class="error-message" style="color: #FF514B">*Пользователь с данным email уже существует</div>
                                </div>
                                <div class="button-block reg-btns">
                                    <button type="submit" class="btn btn-danger">Зарегистрироваться</button>
                                    <button type="button" class="btn btn-secondary" onclick="document.location='/login'">Войти</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/script/selectImage.js"></script>
    </body>
</html>