<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:insert="parts/layouts :: head">      
    </head>
    <body>
        <div class="login-wrapper">
            <div class="container auth-container">
                <div class="reg-block">
                    <div class="h1 text-center form-head">Регистрация</div>
                    <div class="line"></div>
                        <div class="user-info-page">
                            <div class="select-image-wrapper">
                                <form method="post" enctype="multipart/form-data" action="/signup">
                                    <input id="file" class="input-file" name="file" type="file" accept="image/*">
                                    <label for="file" class="select-avatar">Выбрать фото</label>
                                    <img src="/image/avatar2.jpg" width="100px" height="100px" class="selected-avatar">
                                    <input type="submit" value="Ok">
                                </form>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </body>
</html>