<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:insert="parts/layouts :: head">

    </head>
    <body>
        <div class="wrapper"  style="background-color: #c6c6c6;">
            <header th:insert="parts/layouts :: header"></header>
        <div class="container"  style="background-color: #fff;">
            <div id="player" th:if="${review.getTrailerUrl() != null}">
                <video width="100%" height="440px" controls="controls" autoplay>
                    <source th:src="${review.getTrailerUrl()}">
                </video>
            </div>
            <div class="movie-info row">
                <div class="movie-left col-3">
                    <div class="poster">
                        <img th:src="${review.getPoster()}" class="img">
                    </div>

                    <div class="rating-section">
                        <div class="rating-block rating-set">
                            <div class="rating-body">
                                <div class="rating-active"></div>
                                <div class="rating-items">
                                    <input type="radio" class="rating-item" value="1" name="rating">
                                    <input type="radio" class="rating-item" value="2" name="rating">
                                    <input type="radio" class="rating-item" value="3" name="rating">
                                    <input type="radio" class="rating-item" value="4" name="rating">
                                    <input type="radio" class="rating-item" value="5" name="rating">
                                    <input type="radio" class="rating-item" value="6" name="rating">
                                    <input type="radio" class="rating-item" value="7" name="rating">
                                    <input type="radio" class="rating-item" value="8" name="rating">
                                    <input type="radio" class="rating-item" value="9" name="rating">
                                    <input type="radio" class="rating-item" value="10" name="rating">
                                </div>
                            </div>
                            <div class="rating-value" th:text="${ratingService.getOverallRating(review)}"></div>
                        </div>
                    </div>
                </div>

                <div class="movie-right col-8">
                    <div class="film-name"><h1 th:text="${review.getFilmName()}"></h1></div>
                    <div class="info">
                        <div class="info-col">Год: <span th:text="${review.getYear()}"></span></div>
                        <div class="info-col">Режисер: <span th:text="${review.getDirector()}"></span></div>
                        <div class="info-col">Страна: <span th:text="${review.getCountry()}"></span></div>
                        <div class="info-col">В ролях: <span th:text="${review.getCast()}"></span></div>
                    </div>
                </div>
            </div>
            <div class="review">
                <div class="review-head"><h1 th:text="${review.getName()}"></h1></div>
                <div class="line"></div>
                <div class="container">
                    <div class="text mt-5 mb-6" th:text="${review.getText()}"></div>
                </div>
            </div>
        </div>
        <div class="comments">
            <div class="container">
                <div class="comments-head"><h1>Комментарии</h1></div>
                <div>
                    <div class="comment-item mb-2" th:each="comment : ${comments}" th:attr="id=${comment.getId()}">
                        <div class="icon">
                            <img th:if="${comment.getUser().getPhoto()} != null" th:src="${comment.getUser().getPhoto()}">
                            <img th:unless="${comment.getUser().getPhoto()} != null" src="C:/test/icon.jpg">
                        </div>
                        <div class="comment-block">
                            <div class="author-date">
                                <div class="com-user"><a th:text="${comment.getUser().getName()}"></a></div>
                                <div class="author date" th:text="${comment.getDate()}"></div>
                            </div>
                            <div >
                                <span th:if="${comment.getAnswer() != null}">
                                    <a th:href="@{#} + ${comment.getAnswer().getId()}" th:text="${comment.getAnswer().getUser().getName()}"></a>,
                                </span>
                                <span class="comment" th:text="${comment.getComment()}"></span>
                            </div>
                            <img src="C:/test/icon.jpg">
                        </div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="comment-form">
                    <form>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Комментировать" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Отправить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer th:insert="parts/layouts :: footer"></footer>

        <script type="text/javascript" src="/script/ratingScript.js"></script>
        <div th:insert="parts/layouts :: scripts"></div>
        </div>
        
    </body>
</html>