<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:insert="parts/layouts :: head">
    </head>
    <body>
        <div class="wrapper" style="background-color: #c6c6c6;">
            <header th:insert="parts/layouts :: header"></header>
            <div class="container">
                <div class="user-page">
                    <div class="header-page">
                        <div class="photo">
                            <img class="" th:if="${user.getPhoto()} != null" th:src="@{/image/users} + ${user.getPhoto()}" width="200px" height="200px">
                            <img th:unless="${user.getPhoto()} != null" src="/image/avatar.jpeg" width="200px" height="200px">
                            <div class="select-photo">
                                Выбрать фото
                            </div>
                        </div>
                        <div class="user-info-section">
                            <div class="name-section">
                                <div class="name-line username h1" th:text="${user.getName()}"></div>
                                <div class="name-line id-user h2" th:text="'#' + ${user.getId()}"></div>
                            </div>
                            <div th:if="${isAdmin}" class="admin-section">Да я админ, базару нет, но подписчики-то вы, без вас этот группа ничто</div>
                            <div th:text="'Колличество рецензий: ' + ${reviews.size()}"></div>
                            <div th:unless="${isAdmin}" class="delete-user-block">
                                <a class="delete-user">Удалить пользователя</a>
                            </div>
                        </div>
                        <div class="line"></div>
                    </div>
                    <div class="reviews-user">
                        <h1>Рецензии</h1>
                        <div class="mini-line"></div>
                        <div th:insert="parts/layouts :: all-m-page"></div>
                    </div>
                </div>
            </div>
            <footer th:insert="parts/layouts :: footer"></footer>
        </div>
        <div th:insert="parts/layouts :: scripts"></div>
    </body>
</html>