<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:fragment="head">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
              integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>Reviews</title>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/review-styles.css">
        <link rel="stylesheet" href="/css/user-styles.css">
        <link rel="stylesheet" href="/css/auth.css">
        <style>
            .selector-for-some-widget {
                box-sizing: content-box;
            }
        </style>

    </head>

    <body>
        <header th:fragment="header">
            <div class="container">
                <div class="row">
                    <div class="col text-uppercase h3">
                        <span class="reviews" onclick="document.location='/'">REVIEWS</span>
                    </div>
                    <div class="col">
                        <form method="get" action="/search">
                            <input th:if="${value == null}" th:name="value" class="search-field" type="search" placeholder="Поиск рецензии">
                            <input th:unless="${value == null}" th:name="value" class="search-field" type="search" th:value="${value}">
                            <input class="btn btn-primary" type="submit" value="Поиск">
                        </form>
                    </div>
                    <div class="col d-flex justify-content-end">
                        <button class="sign-in" onclick="document.location='/api/index'">Вход</button>
                    </div>
                </div>
                <nav class="row mt-5">
                    <div class="col text-center"><span class="nav-link">Новости</span></div>
                    <div class="col text-center"><span class="nav-link">Смотреть онлайн</span></div>
                    <div class="col text-center"><span class="nav-link">Афиша</span></div>
                    <div class="col text-center"><span class="nav-link">Что посмотреть</span></div>
                    <div class="col text-center"><span class="nav-link">Коллекции</span></div>
                </nav>
            </div>
            <div class="line"></div>
        </header>
        <div class="page-block" th:fragment="page-block">
            <div class="grid-block">
                 <a class="link-item-big" th:href="@{/view/{id}(id=${reviews.get(0).getId()})}">
                    <div class="item item-big">
                        <div class="image-block">
                            <img class="img" th:src="${reviews.get(0).getPoster()}" width="100px" height="100px">
                        </div>
                        <div class="info-block">
                            <div class="rounded-circle rating text-center">
                                <p th:text="${ratingService.getOverallRating(reviews.get(0))}"></p>
                            </div>
                            <div class="name" th:text="${reviews.get(0).getName()}"></div><br/>
                            <div class="author" th:text="${reviews.get(0).getUser().getName()}"></div>
                        </div>
                    </div>
                </a>
                <a th:href="@{/view/{id}(id=${reviews.get(1).getId()})}">
                    <div class="item right-item min-item">
                        <div>
                            <img th:src="${reviews.get(1).getPoster()}">
                        </div>
                        <div class="info-item">
                            <div class="name" th:text="${reviews.get(1).getName()}"></div>
                            <div class="author" th:text="${reviews.get(1).getUser().getName()}"></div>
                            <div class="rounded-circle rating test text-center">
                                <p th:text="${ratingService.getOverallRating(reviews.get(1))}"></p>
                            </div>
                        </div>
                    </div>
                </a>
                <a th:each="review, state : ${reviews}" th:if="${state.index > 1 && state.index < 7}" th:href="@{/view/{id}(id=${review.getId()})}">
                    <div class="item upper-item min-item" >
                        <div>
                            <img th:src="${review.getPoster()}" width="100px" height="100px">
                        </div>
                        <div class="info-item">
                            <div class="name" th:text="${review.getName()}"></div>
                            <div class="author" th:text="${review.getUser().getName()}"></div>
                            <div class="rounded-circle rating test text-center">
                                <p th:text="${ratingService.getOverallRating(review)}"></p>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
        </div>
        <div class="pages" th:each="review, state : ${reviews}" th:fragment="m-page">
            <a th:if="${state.index > 6}" th:href="@{/view/{id}(id=${review.getId()})}">
                <div class="page">
                    <div class="row">
                        <div class="col-3 img-block">
                            <img th:src="${review.getPoster()}" class="img">
                        </div>
                        <div class="col-8 info-block">
                            <div class="rounded-circle rating text-center">
                                <p th:text="${ratingService.getOverallRating(review)}"></p>
                            </div>
                            <div class="name" th:text="${review.getName()}"></div>
                            <div class="author" th:text="${review.getUser().getName()}"></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="pages" th:each="review : ${reviews}" th:fragment="all-m-page">
            <a th:href="@{/view/{id}(id=${review.getId()})}">
                <div class="page">
                    <div class="row">
                        <div class="col-3 img-block">
                            <img th:src="${review.getPoster()}" class="img">
                        </div>
                        <div class="col-8 info-block">
                            <div class="rounded-circle rating text-center">
                                <p th:text="${ratingService.getOverallRating(review)}"></p>
                            </div>
                            <div class="name" th:text="${review.getName()}"></div>
                            <div class="author" th:text="${review.getUser().getName()}"></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <footer class="row" th:fragment="footer">
            <div class="container">
                <div class="github">
                    <a href="https://github.com/andreynikonov23/Reviews.git" target="_blank">Репозиторий проекта</a>
                </div>
                <br/>
                <div class="copyright">Copyright &copy; 2014 Two Bytes Consulting. <span class="bold-text">Terms & Policies.</span></div>
            </div>
        </footer>
        <div th:fragment="scripts">
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        </div>
    </body>
</html>