<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:fragment="head">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
              integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>Reviews</title>
        <link rel="stylesheet" href="/css/styles-main.css">
        <link rel="stylesheet" href="/css/reviews.css">
        <link rel="stylesheet" href="/css/user-styles.css">
        <link rel="stylesheet" href="/css/auth-style.css">
        <style>
            .selector-for-some-widget {
                box-sizing: content-box;
            }
        </style>

    </head>

    <body>
        <header th:fragment="header">
            <div class="container">
                <div class="row">
                    <div class="col text-uppercase h3">
                        <span class="reviews" onclick="document.location='/'">REVIEWS</span>
                    </div>
                    <div class="col">
                        <form method="get" action="/search">
                            <input th:if="${value == null}" th:name="value" class="search-field" type="search" placeholder="Поиск рецензии">
                            <input th:unless="${value == null}" th:name="value" class="search-field" type="search" th:value="${value}">
                            <input class="btn btn-primary" type="submit" value="Поиск">
                        </form>
                    </div>
                    <div th:unless="${authorityUser == null}" class="col d-flex justify-content-end">
                        <div class="user-panel">
                            <div class="grid-user">
                                <div class="username-on-panel">
                                    <p th:text="${authorityUser.getNick()}"></p>
                                </div>
                                <div class="avatar-block-on-panel">
                                    <div class="avatar-border">
                                        <img th:if="${authorityUser.getPhoto() != null}" class="avatar-icon" th:src="'/image/users/' + ${authorityUser.getPhoto()}" width="50px" height="50px">
                                        <img th:if="${authorityUser.getPhoto() == null}" class="avatar-icon" src="/image/avatar.jpeg" width="50px" height="50px">
                                    </div>
                                </div>
                            </div>
                            <div class="hover-panel">
                                <div class="account-block">
                                    <a th:href="@{/user(id=${authorityUser.getId()})}">Личный кабинет</a>
                                </div>
                                <div class="logout-block">
                                    <button class="logout-btn" onclick="document.location='/logout'">Выход</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:if="${authorityUser == null}" class="col d-flex justify-content-end">
                        <button class="sign-in" onclick="document.location='/login'">Вход</button>
                    </div>
                </div>
                <nav class="row mt-5">
                    <div class="col text-center"><span class="nav-link">Новости</span></div>
                    <div class="col text-center"><span class="nav-link">Смотреть онлайн</span></div>
                    <div class="col text-center"><span class="nav-link">Афиша</span></div>
                    <div class="col text-center"><span class="nav-link">Что посмотреть</span></div>
                    <div class="col text-center"><span class="nav-link">Коллекции</span></div>
                </nav>
            </div>
            <div class="line"></div>
        </header>
        <div class="delete-popup" th:fragment="delete-popup">
            <div class="delete-popup-content">
                <div class="popup-container">
                    <div class="question">Вы действительно хотите удалить эту заметку?</div>
                    <form method="post" action="/delete" th:object="${id}" class="answer-options">
                        <input type="hidden" id="id" name="id">
                        <input class="popup-btn" id="no" type="submit" value="Да">
                        <button type="button" class="popup-btn" onclick="closePopUp()">Нет</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="page-block" th:fragment="page-block">
            <div class="grid-block">
                 <div class="link-item-big">
                    <div class="item item-big">
                        <a class="image-block d-block" th:href="@{/{id}(id=${reviews.get(0).getId()})}">
                            <img class="poster" th:src="${reviews.get(0).getPoster()}">
                        </a>
                        <div class="info-block">
                            <div class="rounded-circle rating text-center">
                                <p th:text="${ratingService.getOverallRating(reviews.get(0))}"></p>
                            </div>
                            <a class="name d-block" th:href="@{/{id}(id=${reviews.get(0).getId()})}" th:text="${reviews.get(0).getName()}"></a><br/>
                            <div class="author" th:text="${reviews.get(0).getUser().getNick()}"></div>
                            <div th:if="${authorityUser != null}">
                                <div class="review-btns">
                                    <a class="fa fa-pen fa-lg review-btn" th:if="${authorityUser.getLogin() == reviews.get(0).getUser().getLogin()}" th:href="@{/edit-review(id=${reviews.get(0).getId()})}"></a>
                                    <input type="hidden" th:value="${reviews.get(0).getId()}">
                                    <span class="fa fa-trash fa-lg review-btn" th:if="${authorityUser.getLogin() == reviews.get(0).getUser().getLogin() || authorityUserIsAdmin}" onclick="openDeletePopUp(this)">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item right-item min-item">
                        <div>
                            <a th:href="@{{id}(id=${reviews.get(1).getId()})}">
                                <img th:src="${reviews.get(1).getPoster()}">
                            </a>
                        </div>
                        <div class="info-item">
                            <div class="name-rev-block">
                                <a class="name col-7" th:href="@{{id}(id=${reviews.get(1).getId()})}" th:text="${reviews.get(1).getName()}"></a>
                                <div class="review-btns-on-small-b" th:if="${authorityUser != null}">
                                    <a class="fa fa-pen fa-lg review-btn-on-small-b" th:if="${authorityUser.getLogin() == reviews.get(0).getUser().getLogin()}" th:href="@{/edit-review(id=${reviews.get(1).getId()})}">
                                    </a>
                                    <input type="hidden" th:value="${reviews.get(1).getId()}">
                                    <span class="fa fa-trash fa-lg review-btn-on-small-b" th:if="${authorityUser.getLogin() == reviews.get(0).getUser().getLogin() || authorityUserIsAdmin}" onclick="openDeletePopUp(this)">
                                    </span>
                                </div>
                            </div>
                            <div class="author" th:text="${reviews.get(1).getUser().getNick()}"></div>
                            <div class="rounded-circle rating test text-center">
                                <p th:text="${ratingService.getOverallRating(reviews.get(1))}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:each="review, state : ${reviews}" th:if="${state.index > 1 && state.index < 7}">
                    <div class="item upper-item min-item" >
                        <a class="d-block" th:href="@{/{id}(id=${review.getId()})}">
                            <img th:src="${review.getPoster()}" width="100px" height="100px">
                        </a>
                        <div class="info-item">
                            <div class="name-rev-block">
                                <a class="name col-7" th:href="@{{id}(id=${review.getId()})}" th:text="${review.getName()}"></a>
                                <div class="review-btns-on-small-b" th:if="${authorityUser != null}">
                                    <a class="fa fa-pen fa-lg review-btn-on-small-b" th:if="${authorityUser.getLogin() == review.getUser().getLogin()}" th:href="@{/edit-review(id=${review.getId()})}"></a>
                                    <input type="hidden" th:value="${review.getId()}">
                                    <span class="fa fa-trash fa-lg review-btn-on-small-b" th:if="${authorityUser.getLogin() == review.getUser().getLogin() || authorityUserIsAdmin}" onclick="openDeletePopUp(this)">
                                    </span>
                                </div>
                            </div>
                            <div class="author" th:text="${review.getUser().getNick()}"></div>
                            <div class="rounded-circle rating test text-center">
                                <p th:text="${ratingService.getOverallRating(review)}"></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="pages" th:each="review, state : ${reviews}" th:fragment="m-page">
            <div th:if="${state.index > 6}">
                <div class="page">
                    <div class="row">
                        <a class="col-3 img-block d-block" th:href="@{/{id}(id=${review.getId()})}">
                            <img th:src="${review.getPoster()}" class="poster">
                        </a>
                        <div class="col-8 info-block">
                            <div class="rounded-circle rating text-center">
                                <p th:text="${ratingService.getOverallRating(review)}"></p>
                            </div>
                            <a th:href="@{/{id}(id=${review.getId()})}">
                                <div class="name" th:text="${review.getName()}"></div>
                            </a>
                            <div class="author" th:text="${review.getUser().getNick()}"></div>
                            <div th:if="${authorityUser != null}">
                                <div class="review-btns">
                                    <a class="fa fa-pen fa-lg review-btn" th:if="${authorityUser.getLogin() == review.getUser().getLogin()}" th:href="@{/edit-review(id=${review.getId()})}"></a>
                                    <input type="hidden" th:value="${review.getId()}">
                                    <span class="fa fa-trash fa-lg review-btn" th:if="${authorityUser.getLogin() == review.getUser().getLogin() || authorityUserIsAdmin}" onclick="openDeletePopUp(this)">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pages" th:each="review : ${reviews}" th:fragment="all-m-page">
            <div >
                <div class="page">
                    <div class="row">
                        <a class="col-3 img-block" th:href="@{/{id}(id=${review.getId()})}">
                            <img th:src="${review.getPoster()}" class="poster">
                        </a>
                        <div class="col-8 info-block">
                            <div class="rounded-circle rating text-center">
                                <p th:text="${ratingService.getOverallRating(review)}"></p>
                            </div>
                            <a class="name d-block" th:href="@{/{id}(id=${review.getId()})}" th:text="${review.getName()}"></a>
                            <div class="author" th:text="${review.getUser().getNick()}"></div>
                            <div th:if="${authorityUser != null}">
                                <div class="review-btns">
                                    <a class="fa fa-pen fa-lg review-btn" th:if="${authorityUser.getLogin() == review.getUser().getLogin()}" th:href="@{/edit-review(id=${review.getId()})}"></a>
                                    <input type="hidden" th:value="${review.getId()}">
                                    <span class="fa fa-trash fa-lg review-btn" th:if="${authorityUser.getLogin() == review.getUser().getLogin() || authorityUserIsAdmin}" onclick="openDeletePopUp(this)"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="row" th:fragment="footer">
            <div class="container">
                <div class="github">
                    <a href="https://github.com/andreynikonov23/Reviews.git" target="_blank">Репозиторий проекта</a>
                </div>
                <br/>
                <div class="copyright">Copyright &copy; 2014 Two Bytes Consulting. <span class="bold-text">Terms & Policies.</span></div>
            </div>
        </footer>
        <div th:fragment="scripts">
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
            <script type="text/javascript" src="/script/selectImage.js"></script>
            <script type="text/javascript" src="/script/formValidator.js"></script>
            <script type="text/javascript" src="/script/popUp.js"></script>
            <script type="text/javascript" src="/script/ratingScript.js"></script>
        </div>
    </body>
</html>